    <div class = "col-md-2">
      <%= form_with model:[:public, @post], local: true do |f| %>
        <h4>投稿する</h4>
        <%= f.file_field :post_image, accept: "image/*" %>
        <div class = form-group>
          <label for="post_title">タイトル</label>
          <%= f.text_field :title, class: "form-control post_title" %>
        </div>
        <div class = form-group>
          <label for="post_body">詳細</label>
          <%= f.text_area :body, class: "form-control post_body" %>
        </div>
        <div class = form-group>
          <%= f.submit '投稿する', class: "btn btn-sm btn-success" %>
        </div>
      <% end %>
    </div>