<div class="container">
  <% if @post.errors.any? %>
   <%= @post.errors.count %>errors prohibited this obj from being saved: 
   <ul>
     <% @post.errors.full_messages.each do |message| %>
     <li><%= message %></li>
     <% end %>
   </ul>
  <% end %> 
  
  <%= form_with model:[:public, @post], local: true do |f| %>
    <h3 class = "m-3">投稿フォーム</h3>
    <p>条件や集合日時を記載してみよう！</p>
    <%= f.file_field :post_image, accept: "image/*" %>
    <div class = form-group>
      <label for="post_title">タイトル</label>
      <%= f.text_field :title, class: "form-control post_title"%>
      <p>（最大２０文字まで）</p>
    </div>
    <div class = form-group>
      <label for="post_body">詳細</label>
      <%= f.text_area :body, class: "form-control post_body"%>
    </div>
    <div class="form-group">
      <label for="post_tag">タグ</label>
      <%= f.text_field :tag_name, class: 'form-control post_tag', placeholder: "半角スペースで複数のタグをつけられるよ"  %>
    </div> 
    <div class = form-group>
      <%= f.submit '投稿する', class: "btn btn-sm btn-success" %>
    </div>
  <% end %>
</div>