<% if flash[:notice] %>
 <div class="alert alert-success" role="alert">
 <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p>
 </div>
<% end %>

<div class = "container text-center">
  <!--投稿詳細、編集、削除-->
  <div class = "m-5">
    <%= image_tag @post.get_post_image(200,200), class: "m-3" %>
    <h2><%= @post.title %></h2>
    <h5>詳細</h5>
    <p><%= safe_join(@post.body.split("\n"),tag(:br)) %></p>
    <p class="comments_count">コメント数: <%= @post.post_comments.count %></p>
    <% @post.tags.each do |tag| %>
      <i class="fas fa-tag"></i><%= link_to tag.name, public_search_path(word: tag.name, range: "Tag", search: "perfect_match") %>
    <% end %>
    <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
    <div>
      <p><%= link_to image_tag(@post.user.get_profile_image(100,100)), public_user_path(@post.user) %></p>
      <p><i class="fas fa-user"></i><%= @post.user.name %></p>
    </div>
     <% if @post.is_owned_by?(current_user) %>
       <div class="row justify-content-center">
         <%= link_to "投稿編集", edit_public_post_path(@post), class: "btn btn-sm btn-success edit_post" %>
         <%= link_to "投稿削除", public_post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger destroy_post ml-3" %>
       </div>
     <% end %>
  </div>
  
  <!--グループ一覧、作成、編集-->
  <h3 class = "m-3">グループ</h3>
  <table class = "table table-hover">
    <thead>
     <tr>
       <th></th>
       <th>グループ名</th>
       <th>説明文</th>
       <th>メンバー数</th>
       <th></th>
     </tr>
    </thead>
    <body>
     <% @groups.each do |group| %>
       <tr>
         <td><%= image_tag group.get_group_image(50,50) %></td>
         <td><%= link_to group.name, public_post_group_path(@post, group) %></td>
         <td><%= safe_join(group.introduction.split("\n"),tag(:br)) %></td>
         <td><%= group.users.count %></td>
           <% if group.is_owned_by?(current_user) %>
              <td><%= link_to "グループ編集", edit_public_post_group_path(@post, group), class: "btn btn-sm btn-success edit_group" %></td>
           <% end %>
       </tr>
     <% end %>
    </body>
  </table>
  <% if @post.is_owned_by?(current_user) %>
    <div class = "m-3">
      <div class="row justify-content-center">
        <%= link_to "グループ作成", new_public_post_group_path(@post), class: "btn btn-sm btn-info new_group " %>
      </div>
    </div>
  <% end %>
  
  <!--コメント一覧-->
  <div class="comments_index">
    <%= render 'public/post_comments/index', post: @post, post_comment: @post_comment %>
  </div>
  <!--コメント作成フォーム-->
  <div class="comments_form">
    <%= render 'public/post_comments/form', post: @post, post_comment: @post_comment %>
  </div>
</div>

