<div class = "container">
  <div clss = "row">
    <%= image_tag @post.get_post_image(200,200) %>
    <p>タイトル：<%= @post.title %></p>
    <p>説明：<%= @post.body %></p>
    <p>投稿ユーザー画像：<%= link_to image_tag(@post.user.get_profile_image(100,100)), public_user_path(@post.user) %></p>
    <p>ユーザーネーム：<%= @post.user.name %></p>
    <p class="comments_count">コメント数: <%= @post.post_comments.count %></p>
    <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
    
    <h2>Groups</h2>
    <table class = "table table-hover">
       <thead>
        <tr>
          <th>Uesrs</th>
        </tr>
       </thead>
       <body>
        <% @groups.each do |group| %>
          <tr>
            <td><%= image_tag group.get_group_image(50,50) %></td>
            <td><%= link_to group.name, public_group_path(group) %></td>
            <td><%= group.introduction %></td>
            <td><%= group.users.count %></td>
            <% if group.is_owned_by?(current_user) %>
                <td><%= link_to "Edit", edit_public_group_path(group), class: "btn btn-sm btn-success edit_group" %></td>
            <% end %>
          </tr>
        <% end %>
       </body>
    </table>
    
    <% if @post.user == current_user || admin_signed_in? %>
      <%= link_to "グループを作成する", new_public_group_path, class: "btn btn-sm btn-success new_group" %>
      <%= link_to "投稿編集", edit_public_post_path(@post), class: "btn btn-sm btn-success edit_post" %>
      <%= link_to "投稿削除", public_post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger destroy_post"  %>
    <% end %>
    
    <div class="comments_index">
      <%= render 'public/post_comments/index', post: @post, post_comment: @post_comment %>
    </div>
    <div class="comments_form">
      <%= render 'public/post_comments/form', post: @post, post_comment: @post_comment %>
    </div>
  </div>
</div>

