  <div class="search_form">
    <%= form_with url: public_search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word, placeholder: "検索" %>
      <%= f.select :range, options_for_select([["投稿検索", 'Post'], ["ユーザー検索", 'User']]) %>
      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
    <%= form_with url: public_search_path, method: :get, local: true do |f| %>
      <%= f.text_field :word, placeholder: "検索" %>
      <%= f.hidden_field :range, :value => "Tag"  %>
      <%= f.hidden_field :search, :value => "perfect_match" %>
      <%= f.submit 'タグ検索', class: "btn btn-primary" %>
    <% end %>
  </div>
