<% if flash[:notice] %>
 <div class="alert alert-success" role="alert">
 <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p>
 </div>
<% end %>

<div class = "container text-center">
  <div class = "m-5">
    <%= image_tag @post.get_post_image(200,200) %>
    <p>タイトル：<%= @post.title %></p>
    <p>予定日：<%= @post.date.strftime('%Y/%m/%d') %></p>
    <p>説明：<%= @post.body %></p>
    <p><%= link_to image_tag(@post.user.get_profile_image(100,100)), admin_user_path(@post.user) %></p>
    <p>ユーザーネーム：<%= @post.user.name %></p>
    <p class="comments_count">コメント数: <%= @post.post_comments.count %></p>
    <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  </div>

  <h3 class = "m-3">グループ</h3>
  <table class = "table table-hover">
    <thead>
     <tr>
        <th>グループ画像</th>
        <th>グループ名</th>
        <th>紹介文</th>
        <th>人数</th>
     </tr>
    </thead>
    <body>
     <% @groups.each do |group| %>
       <tr>
         <td><%= image_tag group.get_group_image(50,50) %></td>
         <td><%= link_to group.name, admin_post_group_path(@post, group) %></td>
         <td><%= group.introduction %></td>
         <td><%= group.users.count %></td>
         <div class = "m-3">
           <td><%= link_to "グループ編集", edit_admin_post_group_path(@post, group), class: "btn btn-sm btn-success edit_group" %></td>
         </div>
       </tr>
     <% end %>
    </body>
  </table>
  <!--コメント一覧-->
  <div class="comments_index">
    <%= render 'admin/post_comments/index', post: @post, post_comment: @post_comment %>
  </div>
  <%= link_to "投稿編集", edit_admin_post_path(@post), class: "btn btn-sm btn-success edit_post mb-3" %>
  <%= link_to "投稿削除", admin_post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger ml-3 mb-3 destroy_post "  %>
</div>

