<div class = "container">
  <div clss = "row">
    <%= image_tag @post.get_post_image(200,200) %>
    <p>タイトル：<%= @post.title %></p>
    <p>説明：<%= @post.body %></p>
    <p>投稿ユーザー画像：<%= link_to image_tag(@post.user.get_profile_image(100,100)), admin_user_path(@post.user) %></p>
    <p>ユーザーネーム：<%= @post.user.name %></p>
    <p class="comments_count">コメント数: <%= @post.post_comments.count %></p>
    <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>

    <h2>グループ一覧</h2>
    <table class = "table table-hover">
       <thead>
        <tr>
          <th>グループ画像</th>
          <th>グループ名</th>
          <th>紹介文</th>
          <th>人数</th>
        </tr>
       </thead>
       <body>
        <% @groups.each do |group| %>
          <tr>
            <td><%= image_tag group.get_group_image(50,50) %></td>
            <td><%= link_to group.name, admin_group_path(group) %></td>
            <td><%= group.introduction %></td>
            <td><%= group.users.count %></td>
            <td><%= link_to "編集", edit_admin_group_path(group), class: "btn btn-sm btn-success edit_group" %></td>
            <td><%= link_to "削除", admin_group_path(group), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger destroy_group" %></td>
          </tr>
        <% end %>
       </body>
    </table>
    <%= link_to "投稿編集", edit_admin_post_path(@post), class: "btn btn-sm btn-success edit_post" %>
    <%= link_to "投稿削除", admin_post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger destroy_post"  %>
  </div>
</div>

