<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  
  <div class = "container">
    <div class = "row no-gutters">
      <div class = "col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
        <h2 class = "text-dark bg-light py-4 mb-0">新規登録</h2>
        <div class="form-body p-4">
          <form id="new_user" class="new_user">
              <span><i class="fas fa-user"></i></span>
              <%= f.label :name %><br>
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
              
              <span><i class="fas fa-envelope"></i></span>
              <%= f.label :email %><br />
              <%= f.email_field :email, autocomplete: "email", class: "form-control"%>            
              
              <span><i class="fas fa-lock"></i></span>
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>        
              <div><em>(<%= @minimum_password_length %> 文字から)</em></div> </br>
              
              <span><i class="fas fa-check-circle"></i></span>
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
              
              <span><i class="fas fa-phone"></i></span>
              <%= f.label :phone_number %>
              <%= f.text_field :phone_number, placeholder: "00000000000", autocomplete: "tel", class: "form-control" %>
              
              <div class="actions">
              <%= f.submit "新規登録", class: "btn btn-block btn-info mt-5" %>
              </div>
          </form>
        <div class="col-8 mt-5">
          <h5>既に登録済みの方</h5>
          <%= render "public/shared/links" %>
        </div>
        </div>
      </div>
    </div>
  </div>
<% end %>