<%= form_with model: [:public, @user], url: user_session_path do |f| %>
<main class = "mb-auto">
  <div class = "container">
    <div class = "row no-gutters">
      <div class = "col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
        <h2 class = "text-dark bg-light py-4 mb-0">ログイン</h2>
        <div class="form-body p-4">
          <form id="new_user" class="new_user">
              <span><i class="fas fa-user"></i></span>
              <%= f.label :name %><br>
              <%= f.text_field :name, autofocus: true, class: "form-control mb-3" %>
              
              <span><i class="fas fa-lock"></i></span>
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>        
              
              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>
              <div class="actions">
              <%= f.submit "ログイン", class: "btn btn-block btn-info mt-5" %>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<% end %>