<% if flash[:notice] %>
 <div class="alert alert-success col-12" role="alert">
 <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p>
 </div>
<% end %>

<div class = "container">
  <div class = "row">
    <div class = "col-12">
    <h2 class = "p-3">マイページ</h2>
    <div class = "col-12 text-center"><%= image_tag @user.get_profile_image(100,100) %></div>
      <table class="table">
          <tbody>
            <tr>
              <th class = "col-3">ニックネーム</th>
              <th class = "col-9"><%= @user.name %></th>
            </tr>
            <tr>
              <th class = "col-3">紹介文</th>
              <th class = "col-9"><%= @user.introduction %></th>
            </tr>
          </tbody>
      </table>
    </div>
      <!--閲覧権限_ログインユーザーのみ閲覧可能-->
    <% if @user == current_user %>
    <div class = "col-12 ">
      <div>
        <div class = "text-center mb-3">
        <!--ユーザーの名前がguestuserである場合には、表示しません-->
        <% if @user.name != "guestuser" %>
          <!--ユーザー情報編集-->
          <%= link_to edit_public_user_path(@user), class: "btn btn-outline-secondary mx-auto col-12" do %>
            <i class="fas fa-user-cog"></i>　プロフィールを編集
          <% end %>
        <% end %>
        </div>
      </div>
      <div class = "row justify-content-around">
        <!--ユーザーがいいねした投稿一覧-->
        <div class = "col-md-5 col-sm-12 text-center">
          <table class = "table table-striped table-hover border border-info rounded">
            <h4 class = "p-3">マイリスト</h4>
            <thead>
              <tr>
                <th class = "col-6">投稿者名</th>
                <th class = "col-6">タイトル</th>
              </tr>
            </thead>
            <tbody>
              <% @favorites.each do |favorite| %>
                <tr>
                  <td><%= favorite.post.user.name %></td>
                  <td>
                    <%= link_to public_post_path(favorite.post) do %>
                      <%= favorite.post.title %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
         <!--ユーザーが参加したグループ一覧-->
        <div class = "col-md-5 col-sm-12 text-center">
          <table class = "table table-striped table-hover border border-info rounded">
            <h4 class = "p-3">マイグループ</h4>
            <thead>
              <tr>
                <th>グループ名</th>
              </tr>
            </thead>
            <tbody>
              <% @mygroups.each do |mygroup| %>
                <tr>
                  <td>
                    <%= link_to public_post_group_path(mygroup.group.post, mygroup.group) do %>
                      <%= mygroup.group.name %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <!--ユーザーの投稿一覧-->
      <h4 class = "text-center mt-5">マイポスト</h4>
      <%= render "public/posts/index", posts: @posts %>
    </div>
    <% end %>
  </div>
</div>
