<div class = "container">
  <div class = "row">
    <div class = "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>マイページ</h2>
      <%= image_tag @user.get_profile_image(100,100) %>
      <table class="table">
          <tbody>
            <tr>
              <th></th>
              <th><%= @user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= @user.introduction %></th>
            </tr>
          </tbody>
      </table>
      <%= link_to edit_public_user_path(@user), class: "btn btn-outline-secondary btn-lg" do %>
        <i class="fas fa-user-cog"></i>　編集
      <% end %>
      
      <table>
        <h4>マイリスト</h4>
        <thead>
          <tr>
            <th>投稿者名</th>
            <th>タイトル</th>
            <th>本文</th>
          </tr>
        </thead>
        <tbody>
          <% @favorites.each do |favorite| %>
            <tr>
              <td><%= favorite.post.user.name %></td>
              <td>
                <%= link_to public_post_path(favorite.post) do %>
                  <%= favorite.post.title %>
                <% end %>
              </td>
              <td><%= favorite.post.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>    
    </div>
  </div>
</div>
