<!DOCTYPE html>
<html>
  <head>
    <title>Flat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!--ヘッダー-->
  <body class="d-flex flex-column vh-100">
   <header class="shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/"><%= image_tag('logo.png') %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
          <!--管理者（admin）-->
          <% if admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "会員一覧", admin_users_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "投稿一覧", admin_posts_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>
          <!--会員ユーザー-->
          <% elsif user_signed_in? %>
            <li class="nav-item">
              <%= link_to public_posts_path, class: 'nav-link text-dark' do %>
              <i class="far fa-flag"></i> 投稿一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to public_user_path(current_user), class: 'nav-link text-dark' do %>
              <i class="fas fa-user"></i> マイページ
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>          
            </li>
              <!--検索ボタン-->
              <li type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalLong">
                <i class="fa fa-search"></i>
              </li>
              <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">検索</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <%= form_with url: public_search_path, method: :get, local: true do |f| %>
                    <div class="modal-body">
                       <%= f.label :word, "投稿やユーザを検索"%>
                       <%= f.text_field :word, size: "50", placeholder: "目的地や観光地など" %>
                       <%= f.select :range, options_for_select([["投稿検索", 'Post'], ["ユーザー検索", 'User']]) %>
                       <%= f.select :search, options_for_select([["部分一致","partial_match"], ["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"]]) %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                      <%= button_tag '<i class="fa fa-search"></i>'.html_safe, :type => "submit", :class =>"btn btn-info" %>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
          <!--ゲスト、非会員-->
          <% else %>
            <li class="nav-item">
              <%= link_to  public_about_path, class: 'nav-link text-dark' do %>
              <i class="fas fa-link"></i> サイトについて
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path, class: 'nav-link text-dark' do %>
              <i class="fas fa-user-plus"></i> 新規登録
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  new_user_session_path, class: 'nav-link text-dark' do %>
              <i class="fas fa-sign-in-alt"></i> ログイン
              <% end %>
            </li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <!--フッター-->
    <footer class="bg-dark text-white pt-5 pb-4">
          <div class="container">
            <div class="row no-gutters">
              <div class="col-md-4">
                <p></p>
              </div>
              <div class="col-md-8">
                <h6 class="text-white mt-2 mb-3">Link</h6>
                <ul class="p-0 list-unstyled">
                  <li>
                    <a href="" title="About" class="text-white-50">会社概要</a>
                  </li>
                  <li>
                    <a href="" title="License informations" class="text-white-50">プライバシーポリシー</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
    </footer>
  </body>
</html>
